*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
}

.d_flex{
    display: flex;
    justify-content: space-between;
}

.d_flex_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.container_1{
    max-width: 1168px;
    margin: auto;
}

.container_2{
    max-width: 768px;
    margin:auto;
}

.container_3{
    max-width: 1240px;
    margin:auto;
}

a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-decoration: none;
    line-height: 24px;
    color: #1B1A1A;
}

.a{
    padding: 11px 20px;
    border-radius: 14px;
    margin-left: 5px;
    font-size: 16px;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A;
    margin-bottom: 18px;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
}

.h2_1{
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #403E3B;
    text-transform: none;
}

h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #645C55;
}

p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
}

.p_1{
    font-size: 15px;
    color: #645C55;
}

.p_2{
    font-size: 17px;
    line-height: 26px;
    color: #645C55;
}

.p_3{
    font-size: 24px;
    line-height: 30px;
    color: #645C55;
}

.p_article{
    width: 166px;
    font-size: 14px;
    line-height: 20px;
    color: #645C55;
    margin: 0 0 0 30px;
}

span{
    display: block;
    font-size: 18px;
    line-height: 26px;
    color: #1B1A1A;
}

ul{
    list-style: none;
    display: flex;
}

.m_w{
    max-width: 285px;
}




/*header*/




header{
    padding: 22px 20px 22px 32px;
}

header div{
    display: flex;
    justify-content: space-between;
}

header li{
    margin-left: 32px;
}

header a{
    font-size: 15px;
}

header li:last-of-type a{
    padding: 11px 20px;
    background: #1B1A1A;
    border-radius: 14px;
    font-size: 16px;
    color: #FFFFFF
}




/*home*/




.home_section{
    background-color: #ECE7E4;
    position: relative;
    padding: 137px 0 128px;
}

.home_bg{
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    height: 100%;
    background-image: url("../images/home.jpg");
    background-size: cover;
}

.home_section h4{
    margin-bottom: 20px;
}

.home_section p{
    max-width: 509px;
    margin-bottom: 41px;
}




/*our firm*/




.our_firm_section{
    padding: 100px 0 128px;
}

.our_firm_section_p{
    max-width: 493px;
    margin-bottom: 10px;
    margin-right: 8px;
}

.our_firm_section article{
    margin-top: 18px;
    display: flex;
    align-items: center;
}




/*reeding house*/




.reeding_house_section{
    min-height: 600px;
    background-image: url("../images/reeding_house.jpg");
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 75px;
}

.reeding_house_section h4{
    color: #403E3B;
}

.reeding_house_section p{
    color: #645C55;
}




/*process*/




.process_section{
    padding: 100px 0 110px;
}

.process_container{
    max-width: 1168px;
    margin: auto;
    text-align: center;
}

.process_section h4{
    margin-bottom: 13px;
}

.process_section h3{
    margin-bottom: 10px;
    font-size: 17px;
    color: #403E3B;
}

.process_section h2{
    margin-bottom: 47px;
}

.process_section p{
    margin: 0 42px;
    color: #645C55;
}

.process_section article{
    max-width: 378px;
    text-align: center;

}

.process_section img{
    margin-bottom: 15px;
    max-width: 118px;
}

.owl-carousel .owl-item img{
    display: inline-block;

}

.owl-carousel.owl-drag .owl-item{
    display: flex;
    justify-content: center;
}




/*marble*/




.marble_section{
    min-height: 600px;
    background-image: url("../images/marble.jpg");
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 75px;
}

.marble_section h4{
    color: #403E3B;
}

.marble_section p{
    color: #645C55;
}


/*clients*/




.clients_section{
    background-color: #403E3B;
    padding: 100px 0;
}

.clients_div_1{
    max-width: 460px;
    margin: auto;
}

.clients_section h4{
    color: #ECE7E4;
}

.clients_section h2{
    color: #FFFFFF;
    margin-bottom: 14px;
}

.clients_section p{
    color: #ECE7E4;
    margin-right: 9px;
}

.clients_div_2{
    display: flex;
    flex-direction: column;
    height: 210px;
    justify-content: space-between;
    margin-left: 172px;
}

.clients_div_3{
    display: flex;
    flex-direction: column;
    height: 210px;
    justify-content: space-between;
    margin: 0 184px 0 96px;
}

.clients_img_1{
    margin-top: 24px;
}

.clients_img_2{
    margin-bottom: 8px;
}




/*swirling*/




.swirling_section{
    min-height: 600px;
    background-image: url("../images/swirling.jpg");
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 60px;
}

.swirling_section h4{
    color: #403E3B;
}

.swirling_section p{
    color: #645C55;
}




/*projects*/




.projects_section{
    padding: 113px 0 100px;
    background-color: #F7F7F7;
}

.projects_section h4{
    font-size: 23px;
    line-height: 30px;
    color: #403E3B;
    text-transform: none;
    width: 100%;
}

.projects_section h2{
    margin-bottom: 15px;
}

.projects_section h4 span{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}

.projects_section p{
    margin-bottom: 44px;
}

.projects_section article{
    max-width: 375px;
    position: relative;
    overflow: hidden;
    transition: 2s;
    height: 456px;
}

.projects_section article:hover .describe{
    bottom: 0;
}

.projects_section article img{
    width: 100%;
}

.projects_section .describe{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    bottom: -100%;
    transition: 2s;
}

.projects_section .describe a{
    padding: 11px 20px;
    background: #1B1A1A;
    border-radius: 14px;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 5px;
}




/*team*/




.team_section{
    padding: 100px 0 128px;
}

.team_div{
    max-width: 394px;
}

.team_section h2{
    margin-bottom: 14px;
}

.team_section_p{
    margin-bottom: 41px;
    margin-right: 36px;
}

.team_section article{
    display: flex;
    align-items: center;
}

.team_div_article{
    height: 356px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 115px;
    margin-top: 8px;
}

.team_div_article_1{
    height: 356px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 99px;
    margin-top: 8px;
}

.team_article{
    margin-bottom: 136px;
}




/*get_in_touch*/




.get_in_touch_section{
    background-color: #CEC4BC;
    padding: 100px 0 117px;
}

.get_in_touch_h2{
    font-size: 40px;
}

.get_in_touch_a{
    margin: 0;
    display: flex;
}




/*footer*/




footer{
    max-width: 1168px;
    padding: 60px 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

footer p{
    font-size: 14px;
    line-height: 20px;
    color: #645C55;
}

.footer_a_img{
    margin-bottom: 20px;
}

.footer_div_ul{
    display: flex;
    align-items: flex-end;
}

footer ul{
    justify-content: space-between;
}

footer li{
    margin-left: 20px;
}

.process_section .owl-carousel .owl-nav .owl-prev{
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}

.process_section .owl-carousel .owl-nav .owl-next{
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}

.owl-nav{
    position: absolute;
    width: 100%;
    top: 35%;
    display: flex;
    justify-content: space-between;
}