*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.container_1{
    max-width: 1168px;
    margin: auto;
}

.al_items{
    align-items: center;
}

.d_flex{
    display: flex;
    justify-content: space-between;
}

.d_flex_1{
    display: flex;
}

a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-decoration: none;
    line-height: 24px;
    color: #1B1A1A;
}

.a{
    padding: 11px 20px;
    border-radius: 14px;
    margin-left: 5px;
    font-size: 16px;
}

.color_white{
    color: #FFFFFF;
}

.color_light_beige{
    color: #ECE7E4;
}

h1{
    margin-bottom: 18px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A;
}

h2{
    margin-bottom: 47px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
}

.h2_1{
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 14px;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #645C55;
}

.h3_1{
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 26px;
    color: #403E3B;
    text-transform: none;
}

.h3_2{
    margin-bottom: 20px;
}

p{
    max-width: 509px;
    margin-bottom: 41px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
}

.p_1{
    margin: 0 43px 10px;
    font-size: 15px;
    color: #645C55;
}

.p_2{
    font-size: 17px;
    line-height: 26px;
    color: #645C55;
    margin: 0;
}

.p_3{
    width: 166px;
    font-size: 14px;
    line-height: 20px;
    color: #645C55;
    margin-left: 30px;
    margin-bottom: 0;
    align-items: center;
}

.p_4{
    font-size: 15px;
    margin-bottom: 0;
    margin-right: 9px;
}

.p_5{
    margin-right: 20px;
    font-size: 15px;
}

ul{
    list-style: none;
    display: flex;
}

.section{
    padding: 100px 0;
}




/*header*/




header{
    padding: 22px 20px 22px 32px;
}

header li{
    margin-left: 32px;
}

header a{
    font-size: 15px;
}

header li:last-of-type a{
    padding: 11px 20px;
    background: #1B1A1A;
    border-radius: 14px;
    font-size: 16px;
    color: #FFFFFF
}




/*home*/




.home_section{
    background-color: #ECE7E4;
    position: relative;
    padding: 137px 0 128px;
}

.home_container{
    max-width: 1240px;
    margin: auto;
}

.home_bg{
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    height: 100%;
    background-image: url("../images/image_sec1.jpg");
    background-size: cover;
}




/*process*/




.process_container{
    max-width: 1168px;
    margin: auto;
    text-align: center;
}

.process_h3{
    margin-bottom: 13px;
}

.process_article{
    max-width: 378px;
    text-align: center;
}

.process_img{
    margin-bottom: 15px;
}




/*clients*/




.clients_section{
    background-color: #403E3B;
}

.clients_div_1{
    max-width: 460px;
    margin-top: 35px;
}

.clients_div_2{
    display: flex;
    flex-direction: column;
    height: 210px;
    justify-content: space-between;
    margin-left: 172px;
}

.clients_div_3{
    display: flex;
    flex-direction: column;
    height: 210px;
    justify-content: space-between;
    margin: 0 184px 0 96px;
}

.img_1{
    margin-top: 24px;
}

.img_2{
    margin-bottom: 8px;
}




/*team*/




.team_div{
    max-width: 394px;
    height: 356px;
}

.team_div_article{
    height: 356px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 115px;
    margin-bottom: 20px;
}

.team_div_article_1{
    height: 356px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 99px;
    margin-bottom: 20px;
}

.team_article_1{
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.team_article_2{
    margin-bottom: 136px;
}

span{
    display: block;
}




/*get_in_touch*/




.get_in_touch_section{
    background-color: #CEC4BC;
}

.get_in_touch_h2{
    margin-bottom: 17px;
    font-size: 40px;
}

.get_in_touch_a{
    margin: 0;
    display: flex;
}




/*footer*/




footer{
    max-width: 1168px;
    padding: 60px 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

footer p{
    font-size: 14px;
    line-height: 20px;
    color: #645C55;
    margin: 0;
}

footer a{
    padding: 0;
    border-radius: 0;
    margin-left: 0;
    line-height: 0;
}

.footer_a_img{
    margin-bottom: 20px;
}

.footer_div_ul{
    display: flex;
    align-items: flex-end;
}

footer ul{
    justify-content: space-between;
}

footer li{
    margin-left: 20px;
}






